@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  font-family: "Inter", sans-serif, bold;
}

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background: #142357;
}

.logo {
  width: 100px;
}

.main-title {
  color: white;
  font-size: 200%;
  letter-spacing: -1px;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: right;
  width: 600px;
}

.link {
  color: white;
  align-self: flex-end;
  margin-right: 5px;
}

.body {
  width: 100%;
  margin-top: 2vh;
  min-height: 83vh;
  background: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
}
